obj
bin
deploy
deploy/*
_ReSharper.*
*.csproj.user
*.resharper.user
*.resharper
*.suo
*.cache
.settings
.project
Thumbs.db
*.exe
*.user 
.metadata
release
Release 
debug
ignore
Ignore
Bin
~$*
